.wmd-panel {
    width: 100%;
}

.wmd-input {
    height: 300px;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
}
