<template name="listMenu">
    {{#if currentUser}}
    <h5>Welcome {{currentUser.profile.name}}!</h5>
    {{/if}}

    <ul class="nav nav-sidebar">
        <li class={{isCurrentTag 'all'}}><a href="{{pathFor 'list'}}">All online servers <span class="badge">{{servers_count}}</span></a></li>
        <li class={{isCurrentTag 'v10+'}}><a href="{{absoluteUrl 'tags/v10+'}}">Protocol 10+ <span class="badge">{{servers_v10p_count}}</span></a></li>
    </ul>
    <ul class="nav nav-sidebar">
        <li class={{isCurrentTag 'ddos'}}><a href="{{absoluteUrl 'tags/ddos'}}">DDoS-protected  <span class="badge">{{servers_ddos_count}}</span></a></li>
        <li class={{isCurrentTag 'spigu'}}><a href="{{absoluteUrl 'tags/spigu'}}">Spigu Hosting <span class="badge">{{servers_spigu_count}}</span></a></li>
    </ul>
    <ul class="nav nav-sidebar">
        <li class={{isCurrentTag 'offline'}}><a href="{{absoluteUrl 'tags/offline'}}">Offline servers  <span class="badge">{{servers_offline_count}}</span></a></li>
    </ul>

    <div data-toggle="tooltip" title="This is a breakdown of online servers by client version. We discard servers with invalid version or below 4.">
        <svg id="client-chart"></svg>
    </div>
    <button type="button" id="refresh-client-chart" class="btn btn-sm btn-block btn-default" style="display: none;">
        <span class="glyphicon glyphicon-refresh"> Refresh chart</span>
    </button>

</template>

<template name="list">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            {{> listMenu}}
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            {{!-- <h1 class="page-header">Server List</h1> --}}
            <div class="alert alert-info">
                <span class="glyphicon glyphicon-signal"></span> We automatically refresh status from OT servers every 5 minutes and update it for you, no need to refresh this site.<br/>
                <span class="glyphicon glyphicon glyphicon-eye-open"></span> There are <b>{{playersOnline}}</b> players online on <b>{{playersOnlineServers}}</b> online servers.
            </div>

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th></th>
                        <th><span data-toggle="tooltip" title="Click to view more information about the server.">Name</span></th>
                        <th><span data-toggle="tooltip" title="Click to go to the website.">Host/Website</span></th>
                        <th>Players (Record) / Max</th>
                        <th>Uptime</th>
                        <th><span data-toggle="tooltip" title="This is where the server is physically located.">Loc.</span></th>
                        <th>Rates</th>
                        <th>Client</th>
                        <th>{{#if meteor_status.connected}}<img data-toggle="tooltip" title="You have a live connection to the server, the list is always up to date!" class="pull-right" src="{{absoluteUrl 'img/loader.gif'}}" alt="Refreshing..." width="16" height="16" />{{/if}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each servers}}
                    <tr id="{{this._id}}">
                        <td><a class="flag-webicon {{toFlag status.serverinfo.location}} small" title="{{status.serverinfo.location}}">{{status.serverinfo.location}}</a></td>
                        <td><a href="{{pathFor 'details'}}">{{status.serverinfo.servername}}</a></td>
                        <td><a href="{{status.serverinfo.url}}" target="_blank">{{host}}</a></td>
                        <td>{{status.players.online}} ({{status.players.peak}}) / {{status.players.max}}</td>
                        <td>{{numeral status.uptime '0.00'}}% {{#unless status.online}}<span class="label label-danger">OFFLINE</span>{{/unless}}</td>
                        <td><a class="flag-webicon {{toFlag status.ip_whois.country}} small" title="This server is located in {{status.ip_whois.country}}. If you are close, you won't have lags.">{{status.ip_whois.country}}</a></td>
                        <td>{{#if status.rates}}Exp: {{status.rates.experience}}x<br/>Mag: {{status.rates.magic}}x{{/if}}</td>
                        <td>{{shorten status.serverinfo.client 6}}</td>
                        <td>
                            <button type="button" data-action="refresh" data-id="{{_id}}" class="btn btn-success">
                                <span class="glyphicon glyphicon-refresh"></span>
                            </button>
                            {{#if canManageServer _id}}
                            <button type="button" data-action="remove" data-id="{{_id}}" class="btn btn-danger">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                            {{/if}}
                        </td>
                    </tr>
                    {{else}}
                        <p class="text-center">No servers to list.</p>
                    {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>
